<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Qr code build</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Qr Generator</h1>
      <hr />
      <form action="/scan" method="post" class="form">
        <textarea
          name="text"
          id="text"
          cols="150"
          rows="10"
          placeholder="Enter url or Text"
        ></textarea
        ><br />
        <button type="submit" class="btn btn-primary">Generate Qrcode</button>
      </form>
    </div>
  </body>
</html>
